*

!.gitignore
!nvim/
!nvim/**
!hypr/
!hypr/**
!ghostty/
!ghostty/**
!waybar/
!waybar/**
!OhMyPosh/
!OhMyPosh/**
!fish/
!fish/**
!kitty/
!kitty/**
!Vieb/
!Vieb/viebrc
!fuzzel/
!fuzzel/**
!eww/
!eww/**
!noctalia/
!noctalia/**
!jellyfin-tui/
!jellyfin-tui/**
